* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  height: auto;
}
.heading open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navigation {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /* background-color: #0a051b; */
}

.logo {
  margin: 0 auto;
  padding: 15px 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

ul li a {
  text-decoration: none;
  padding: 15px 20px;
  color:#0a051b;
  font-weight: 700;
  transition: all 0.3s ease;
}

li a:hover {
  color: green;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 2px 4px 0;
  border-radius: 5px;
}

/* this is banner section */
.banner-container {
  max-width: 1280px;
  height: auto;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.bg-banner-pc {
  border: 16px;
  height:600px;
  /* margin-left: 140px;
  margin-top: 50px; */
  opacity: 0.8;
  cursor: pointer;
}

.bg-banner-pc:hover{
    opacity: 1;
}

.banner-title1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.banner-title2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  line-height: 95px;
}
.banner-title1:hover{
    color: #0a051b;
 }
.banner-title2:hover{
    color: #0a051b;
 }