* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  height: auto;
}
.heading open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navigation {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /* background-color: #0a051b; */
}

.logo {
  margin: 0 auto;
  padding: 15px 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

ul li a {
  text-decoration: none;
  padding: 15px 20px;
  color: #0a051b;
  font-weight: 700;
  transition: all 0.3s ease;
}

li a:hover {
  color: green;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 2px 4px 0;
  border-radius: 5px;
}

/* this is banner section */
.banner-container {
  max-width: 1280px;
  height: 600px;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.bg-banner-pc {
  border: 16px;
  height: 600px;
  /* margin-left: 140px;
  margin-top: 50px; */
  opacity: 0.8;
  cursor: pointer;
}

.bg-banner-pc:hover {
  opacity: 1;
}

.banner-title1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.banner-title2 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  line-height: 95px;
}
.banner-title1:hover {
  color: #0a051b;
}
.banner-title2:hover {
  color: #0a051b;
}

/* this is main section start */
/* categories part */
.categories {
  background-color: #ffffff;
  text-align: center;
  margin: 50px auto;
  max-width: 805px;
  height: 806px;
}
.newyear-img {
  width: 800px;
  height: 500px;
}
.offer {
  color: #ff0000;
  font-weight: 700;
  font-size: 88px;
}

.better {
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
}

categories-title {
  color: #070211;
  font-weight: 700;
  font-size: 88px;
}

/* .categories .new-year-pic{
 margin: 0 auto;
 width: 800px;
 height: 500px;
 } */

/* party section */

.new-year-party {
  background-color:#ffffff;
  position: relative;
  max-width: 1280px;
  height: 600px;
  margin: 0 auto;
}

.wlc-mid-party {
  position: absolute;
  top: 25%;
  /* width: 100%; */
  padding: 20x;
  margin-left: 50px;
}

.wlc-title {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 11px;
  /* width: 642px;
  height: 176px; */
}

.text-description {
    font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 30px;
  width: 700px;
  height: 76px;
}

.join-now {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
}

/* place section */

.place-section {
  background-color:#ffe8e8;
  text-align: center;
  font-weight: 600;
  line-height: 56px;
  font-size: 32px;
  color: #070211;
  margin-top: 70px;
  padding: 30px;
  width: 1280px;
  height: 450px;
  margin: 70px auto;
}
.sub-place-section{
    margin-top: 60px;
}


span {
  color: #ff0000;
}

.btn-primary {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: green;
}
